GROQ_API_KEY=
GROQ_MAIN_MODEL=llama-3.3-70b-versatile
GROQ_FAST_MODEL=llama-3.1-8b-instant

GEMINI_API_KEY=
GEMINI_MAIN_MODEL=gemini-2.5-flash
GEMINI_FAST_MODEL=gemini-2.5-flash-lite

PRIMARY_LLM_PROVIDER=groq
FALLBACK_LLM_PROVIDERS=gemini
